@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --playfair: "Playfair Display", serif;
  --system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root,
.default {
  --bg: #ffffff;
  --bg-alternative: #f7f7f9;
  --text: #373a3c;
  --text-alternative: #25292c;
  --border: #eceeef;
  --primary: #e80624;
  --primary-alternative: #ff1447;
  --secondary: #43a9a3;
  --shadow: 15px 15px 30px #d9d9d9, -15px -15px 30px #ffffff;
  --bg-box: linear-gradient(145deg, #ffffff, #f7f7f9);
  --bg-box-hover: linear-gradient(145deg, #ff1447, #aa0025);
}

.dark {
  --bg: #0e141b;
  --bg-alternative: #252526;
  --text: #ffffff;
  --text-alternative: #ededed;
  --border: #2d2d2d;
  --primary: #ff2957;
  --primary-alternative: #ff2957;

  --secondary: #43a9a3;
  --shadow: 15px 15px 30px #0c1117, -15px -15px 30px #10171f;
  --bg-box: linear-gradient(145deg, #0e141b, #252526);
  --bg-box-hover: linear-gradient(145deg, #ff1447, #aa0025);
}

.beach {
  --bg: #fffffe;
  --bg-alternative: #e3f6f5;
  --text: #272343;
  --text-alternative: #2d334a;
  --border: #e3f6f5;
  --primary: #ff9d00;
  --primary-alternative: #ffca00;

  --secondary: #bae8e8;
  --bg-box: linear-gradient(145deg, #fffffe, #e3f6f5);
  --bg-box-hover: linear-gradient(145deg, #ff9d00, #ffca00);
}

.choco {
  --bg: #55423d;
  --bg-alternative: #41312e;
  --text: #fffffe;
  --text-alternative: #fffffe;
  --border: #271c19;
  --primary: #fcaf88;
  --primary-alternative: #ffc0ad;
  --secondary: #e78fb3;

  --bg-box: linear-gradient(145deg, #55423d, #41312e);
  --bg-box-hover: linear-gradient(145deg, #f3ab87, #ffc0ad);
}

.pastel {
  --bg: #fef6e4;
  --bg-alternative: #f3e1d8;
  --text: #172c66;
  --text-alternative: #003846;
  --border: #f3d2c1;
  --primary: #e01261;
  --primary-alternative: #ff3d6a;
  --secondary: #8bd3dd;

  --bg-box: linear-gradient(145deg, #fef6e4, #f3e1d8);
  --bg-box-hover: linear-gradient(145deg, #ff3d6a, #f582ae);
}

.bowser {
  --bg: #16161a;
  --bg-alternative: #29293e;
  --text: #fffffe;
  --text-alternative: #dbdde0;
  --border: #383a61;
  --primary: #835cfa;
  --primary-alternative: #e068fd;
  --secondary: #2cb67d;

  --bg-box: linear-gradient(145deg, #16161a, #29293e);

  --bg-box-hover: linear-gradient(145deg, #7f5af0, #e068fd);
}

.pink {
  --bg: #fec7d7;
  --bg-alternative: #f8b1c5;
  --text: #0e172c;
  --text-alternative: #09134c;
  --border: #f79fb8;
  --primary: #655d62;
  --primary-alternative: #ffffff;
  --secondary: #a786df;

  --bg-box: linear-gradient(145deg, #fec7d7, #f8b1c5);

  --bg-box-hover: linear-gradient(145deg, #fffffe, #ffffff);
}

.dune {
  --bg: #f9f4ef;
  --bg-alternative: #fce6d1;
  --text: #716040;
  --text-alternative: #3a2d16;
  --border: #f3bc86;
  --primary: #675022;
  --primary-alternative: #a88745;
  --secondary: #f25042;

  --bg-box: linear-gradient(145deg, #f9f4ef, #fce6d1);

  --bg-box-hover: linear-gradient(145deg, #8c7851, #a88745);
}

.florest {
  --bg: #004643;
  --bg-alternative: #003532;
  --text: #fffffe;
  --text-alternative: #dbdfe5;
  --border: #00302d;
  --primary: #ffd494;
  --primary-alternative: #f8aa35;
  --secondary: #e16162;

  --bg-box: linear-gradient(145deg, #004643, #003532);

  --bg-box-hover: linear-gradient(145deg, #f9bc60, #f8aa35);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--system);
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-alternative);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-alternative);
  border-radius: 50px;
}
