.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: min(90%, 1440px);
  gap: 6rem;
  padding: 9rem 0;
  position: relative;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
