@import "../../styles/mixins/responsive.scss";

.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  padding-bottom: 6rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 2rem;
    font-size: clamp(1.8rem, 3vw, 2.2rem);
    line-height: 1.6;
  }
}
